<mat-grid-list class="global-grid" cols="3" rowHeight="2:1">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color"
        [ngClass]="{'links-menu': tile.id === 'titleAndLogo' || tile.id === 'firstCol' || tile.id === 'rightCol' || tile.id === 'topRightCol' || tile.id === 'searchBar' || tile.id === 'footerFirstCol', 'searchBar': tile.id === 'searchBar'}" [ngSwitch]="tile.id">
        <div *ngSwitchCase="'titleAndLogo'" class="app__title">
            <div class="inblock-icon">
                <mat-icon aria-hidden="false" aria-label="Logo" style="color: rgb(0, 238, 255);">shield_moon</mat-icon>&nbsp;&nbsp;
                <h1>The Cloud Cathedral</h1>
            </div>
        </div>
        <div *ngSwitchCase="'searchBar'" class="searchBar">
            <h6 *ngIf="activeStoryProfile">Floor<mat-icon [ngStyle]="{ 'position': 'relative', 'top': '9px' }">arrow_right_alt</mat-icon>{{ activeStoryProfile }}</h6>
            <h6 *ngIf="activeStoryCharacter">User<mat-icon [ngStyle]="{ 'position': 'relative', 'top': '9px' }">arrow_right_alt</mat-icon>{{ activeStoryCharacter }}</h6>
            <input type="text" placeholder="Search stories or users">
        </div>
        <div *ngSwitchCase="'firstCol'" class="links-menu-height justify-content-flex-start">
            <div class="link-menu-icons">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>&nbsp;&nbsp;<h4>For You</h4>
            </div>
            <div class="link-menu-icons">
                <mat-icon>people_outline</mat-icon>&nbsp;&nbsp;<h4>Following</h4>
            </div>
            <h5 class="link-menu__discover">Discover</h5>
        </div>
        <div *ngSwitchCase="'mainContent'" class="mainContent">
            <div *ngIf="!activeStoryProfile && !activeStoryCharacter">
                <h1>Public Floors</h1><hr>
                <h3 (click)="setActiveStoryProfile('f4')">F4 - The Onager, the Donkey, and the Driver</h3>
                <h3 (click)="setActiveStoryProfile('f5')">F5 - The Onager, the Donkey, and the Lion</h3>
                <h3 (click)="setActiveStoryProfile('f12')">F12 - The Frogs and the Battle of the Bulls</h3>
                <h1>Secret Floors</h1><hr>
            </div>
            <div *ngFor="let character of activeStoryCharacters" class="story--user-links">
                <h1 (click)="setActiveCharacter(character.name)">Continue as {{character.name}}</h1>
            </div>
            <app-wall [activeStoryProfile]="this.activeStoryProfile" [activeStoryCharacter]="this.activeStoryCharacter" id="app__wall"></app-wall>
        </div>
        <div *ngSwitchCase="'footerFirstCol'" class="footerFirstCol">
            <hr><h6>About The Cloud Cathedral</h6>
        </div>
        <div *ngSwitchCase="'topRightCol'" class="topRightCol">
            <div *ngIf="activeStoryProfile" (click)="switchStory()" class="link-menu-icons">
                <mat-icon>movie_creation</mat-icon>&nbsp;&nbsp;<h4>Change story</h4>
            </div><br>
            <div *ngIf="activeStoryCharacter" (click)="switchUser()" class="link-menu-icons">
                <mat-icon>switch_video</mat-icon>&nbsp;&nbsp;<h4>Continue as another user</h4>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>