<mat-grid-list class="global-grid" cols="3" rowHeight="4:1">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color"
        [ngClass]="{'links-menu': tile.id === 'titleAndLogo' || tile.id === 'firstCol' || tile.id === 'rightCol' || tile.id === 'topRightCol' || tile.id === 'searchBar' || tile.id === 'footerFirstCol', 'searchBar': tile.id === 'searchBar'}" [ngSwitch]="tile.id"
        class="mat-grid-tile-custom">
        <div [ngClass]="{'suppressed': activeStoryProfile && activeStoryCharacter}" *ngSwitchCase="'titleAndLogo'" class="app__title">
            <div class="inblock-icon">
                <!-- <mat-icon aria-hidden="false" aria-label="Logo" style="color: rgb(0, 238, 255);">shield_moon</mat-icon>&nbsp;&nbsp; -->
                <h1>Three Cathedrals. One liminal space.</h1>
            </div>
        </div>
        <div [ngClass]="{'suppressed': activeStoryProfile && activeStoryCharacter}" *ngSwitchCase="'searchBar'" class="searchBar">
            <h6 *ngIf="activeStoryProfile">Fable<mat-icon [ngStyle]="{ 'position': 'relative', 'top': '9px' }">arrow_right_alt</mat-icon>{{ activeStoryProfile }}</h6>
            <h6 *ngIf="activeStoryCharacter">Character<mat-icon [ngStyle]="{ 'position': 'relative', 'top': '9px' }">arrow_right_alt</mat-icon>{{ activeStoryCharacter }}</h6>
            <!-- <input type="text" placeholder="Search stories or users"> -->
        </div>
        <div [ngClass]="{'suppressed': activeStoryProfile && activeStoryCharacter}" *ngSwitchCase="'firstCol'" class="links-menu-height justify-content-flex-start">
            <div class="link-menu-icons">
                <mat-icon aria-hidden="false" aria-label="Example help icon" fontIcon="help"></mat-icon>&nbsp;&nbsp;<h4 [ngClass]="{'greyed-out': true}">The Guide's Booth</h4>
            </div>
            <div (click)="switchStory()" class="link-menu-icons">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="library_books"></mat-icon>&nbsp;&nbsp;<h4>The Cathedral</h4>
            </div>
            <h5 class="link-menu__discover">Traveller's Review - In Construction</h5>
        </div>
        <div *ngSwitchCase="'mainContent'" class="mainContent" #mainContentContainer [scrollTop]="0">
            <div *ngIf="!activeStoryProfile && !activeStoryCharacter">
                <h2>You see three paths ahead of you...</h2><h5>(Turn the audio on. If using Chrome, this requires enabling the site's Sound settings)</h5>
                <h2>F0</h2><hr>
                <div style="font-size: 0.55rem; line-height: 0.8rem;">
                    <p>May contain the following:</p>
                    <ul>
                        <li>Artificially generated imagery</li>
                        <li>Sounds</li>
                        <li>Voice over</li>
                        <li>A travel itinerary into the depths of the soul</li>
                    </ul>
                </div>
                <a href="../assets/The Cathedral.html">The Interactive Cathedral</a><br><br>
                <h2>F1</h2>
                <hr><br>
                <div style="font-size: 0.55rem; line-height: 0.8rem;">
                    <p>These dusty scrolls have accompanied many a weary traveller.</p>
                    <ul>
                        <li>In the pursuit of the fire beyond the cave's shadows, a man must be willing to let go of things that weigh him down.</li>
                        <li>Or find greater wings to spur him forth in his ascension into the heavens.</li>
                        <li>All of which, for the lesser man sitting in his dark cave, makes him seem like a clown.</li>
                    </ul>
                </div>
                <h3 (mouseenter)="setHover('f4')" (mouseout)="unsetHover()" [@moveRight]="activeHoveredElement === 'f4'? 'movedRight' : 'idle'" (click)="setActiveStoryProfile('f4')">The Onager, the Donkey, and the Driver</h3>
                <h3 (mouseenter)="setHover('f5')" (mouseout)="unsetHover()" [@moveRight]="activeHoveredElement === 'f5'? 'movedRight' : 'idle'" (click)="setActiveStoryProfile('f5')">The Onager, the Donkey, and the Lion</h3>
                <h3 (mouseenter)="setHover('f12')" (mouseout)="unsetHover()" [@moveRight]="activeHoveredElement === 'f12'? 'movedRight' : 'idle'" (click)="setActiveStoryProfile('f12')">The Frogs and the Battle of the Bulls</h3>
                <h3 (mouseenter)="setHover('f18')" (mouseout)="unsetHover()" [@moveRight]="activeHoveredElement === 'f18'? 'movedRight' : 'idle'" (click)="setActiveStoryProfile('f18')">The Fox, the Lion, and the Footprints</h3>
                <h2>F2</h2>
                <hr>
                <h3 (mouseenter)="setHover('f21')" (mouseout)="unsetHover()" [@moveRight]="activeHoveredElement === 'f21'? 'movedRight' : 'idle'">The 3d Cathedral (In-construction)</h3>
            </div>
            <div *ngIf="activeStoryCharacters.length > 0">
                <h1>Choose your Character</h1>
            </div>
            <div *ngFor="let character of activeStoryCharacters" class="story--user-links">
                <ul>
                    <li
                        (mouseenter)="setHoveringOverCharacter(true)" (mouseout)="setHoveringOverCharacter(false)" [@toggleLiVisible]="isHoveringOverCharacter ? 'hideLi' : 'showLi' ">
                        <h4
                        matRipple
                        [matRippleCentered]="false"
                        [matRippleRadius]="100"
                        [matRippleUnbounded]="true"
                        [matRippleColor]="'rgb(0,255,255,0.5)'"
                        [@moveRight]="isHoveringOverCharacter ? 'movedRight' : 'idle'"
                        (click)="setActiveCharacter(character.name)"
                        (click)="this.resetScrollTopPosition()">
                            Read as {{character.name}}
                        </h4>
                    </li>
                </ul>
                <hr>
            </div>
            <!--Fade Intro Screen-->
            <div *ngIf="activeStoryCharacter && showIntroFadeAnimation" [ngClass]="{'fadeInToIntroScreen': !playedIntroFadeAnimation}" class="intro-fade-screen">
                <h1>
                    {{this.getActiveStoryName()}}
                </h1>
            </div>
            <app-wall [playedIntroFadeAnimation]="playedIntroFadeAnimation" [activeStoryProfile]="this.activeStoryProfile" [activeStoryCharacter]="this.activeStoryCharacter" id="app__wall"></app-wall>
        </div>
        <div [ngClass]="{'suppressed': activeStoryProfile && activeStoryCharacter}" *ngSwitchCase="'footerFirstCol'" class="footerFirstCol">
            <hr>
            <h5>Reinventing Storytelling and Digital Literature</h5>
            <h6>Funded by Concordia University's Special Funding Grant (SPG) @Winter 2023</h6>
            <h5>About The Project</h5>
            <p>TLDR: This is a tri-fold storytelling exhibition in which I use exactly three series of text-audio experiments, video game essays, and meditations to exhibit <span style="font-style: italic;">The Cathedral</span>, which is an allegory of the journey inside the three psychological structures of a man's religious experience. Essentially, it's a virtual exhibition of playful tech meditation/translation of classics, and creative writing work based on Christian thought and values, some of which include Dante's Inferno and Aesop's Fables.</p>
            <h5>About The Author</h5>
            <p>Sylvain Tran is an emerging independent game designer, poet/writer, and narrative designer. He is focused on producing his first serious work.</p>
        </div>
        <div *ngIf="!showIntroFadeAnimation">
            <div *ngSwitchCase="'topRightCol'" class="topRightCol">
                <div
                    *ngIf="activeStoryProfile"
                    matRipple
                    [matRippleCentered]="false"
                    [matRippleRadius]="100"
                    [matRippleUnbounded]="true"
                    [matRippleColor]="'rgb(0,255,255,0.5)'"
                    (click)="switchStory()"
                    class="greyed-out link-menu-icons">
                    <mat-icon>movie_creation</mat-icon>&nbsp;&nbsp;<h4 class="is-inline-block">Read another floor</h4>
                </div><br>
                <div
                    *ngIf="activeStoryCharacter"
                    matRipple
                    [matRippleCentered]="false"
                    [matRippleRadius]="100"
                    [matRippleUnbounded]="true"
                    [matRippleColor]="'rgb(0,255,255,0.5)'"
                    (click)="switchUser()"
                    class="greyed-out link-menu-icons">
                    <mat-icon>switch_video</mat-icon>&nbsp;&nbsp;<h4 class="is-inline-block">Read as another character</h4>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>