@import "../styles.less";

@app__wall_margin: 3rem;

#app__wall {
    .centered-flex();
    .column-flex();
    margin: @app__wall_margin;
}

html, body {
    padding: 0;
    margin: 0;
}

html, body, .global-grid {
    color: white;
    background-color: black;
}

.mainContent {
    overflow: scroll;
    .full-parent-height-and-width();
}

.links-menu {
    position: fixed;
}

.links-menu-height, .footerFirstCol {
    height: 100%;
}

.searchBar {
    .front-layer();
    display: flex;
    .row-flex();
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.topRightCol {
    cursor: pointer;
}