@post-date-margin-left: 1rem;

#post__container {
    .post__author {
        display: inline-block;
        font-weight: bold;
    }
    .post__date {
        display: inline-block;
        margin-left: @post-date-margin-left;
    }
}
