@post-container-z-index: 2;
@post-date-margin-left: 1rem;
@post-container-width: 20rem;
@post-margin-bottom: 10rem;
@post-font-size: 3rem;
@post-line-height: 1rem;

#post__container {
    z-index: @post-container-z-index;
    width: @post-container-width;
    margin-bottom: @post-margin-bottom;

    .post__author {
        display: inline-block;
        font-weight: bold;
        font-size: @post-font-size;
    }

    .post__body {
       line-height: @post-line-height; 
    }

    .post__date {
        display: inline-block;
        margin-left: @post-date-margin-left;
    }
}

.underline-blue {
    color: blue;
    text-decoration: underline;
}

.post__comments__container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;

    .post__links__container {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
        
        .post__links__container__header {
            cursor: pointer;
            .underline-blue();
        }

        .post__shares_links__container__header {
            cursor: pointer;
        }
    }
}

#post__container__comments-arrow {
    width: 50px;
}

#post__links__container__body {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.threejsScene--container {
}

.threejsScene--frame {
    position: absolute;
}

.threejsScene--frame img {
    width: 600px;
    height: 300px;
    margin-left: -10vw;
}

.threejsScene--canvas {
    margin-left: -10vw;
    width: 600px;
    height: 300px;
}

.comment__author {
    font-weight: bolder;
}
