/**
    Flex box utilities
*/
.centered-flex {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.column-flex {
    flex-direction: column;
}

.row-flex {
    flex-direction: row;
}

.justify-content-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.full-parent-height-and-width {
    height: 100%;
    width: 100%;
}

/**
    Layers 
*/
.front-layer {
    z-index: 3;
}

.middle-layer {
    z-index: 2;
}

.back-layer {
    z-index: 1;
}

/**
    Fonts
*/
@wall-primary-font: 'Charm, cursive';

@font-face {
    font-family: "Charm";
    src: url("assets/fonts/Charm-Regular.ttf") format("ttf");
}

/**
    Image backgrounds
*/
.ivy-bg {
    //background-image: url("assets/images/ivy-texture.png");
    background-size: 100vw 100vh;
    background-repeat: repeat-y;
}

/**
    Native HTML elements
*/
body {
    .ivy-bg()
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
